body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button {
    margin: 0;
    padding: 0;
}
a{text-decoration:none}
li {list-style: none;display: inline-block;line-height: 1.6;font-size: .9em;}